<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        
    <h3>Edit your Listings</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <div class="mb-3">
            <lable for="title" class="form-lable">Title</lable>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <lable for="description" class="form-lable">description</lable>
            <textarea name="listing[description]" class="form-control" type="text"><%= listing.description %></textarea>
        </div>
        <div class="mb-3">
            <lable for="image" class="form-lable">image</lable>
            <input name="listing[image]" class="form-control"  value="<%= typeof listing.image === 'string' ? listing.image : listing.image.url %>"type="text">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <lable for="price" class="form-lable">price</lable>
                <input name="listing[price]" class="form-control" value="<%= listing.price %>" type="number">
            </div>
            <div class=" mb-3 col-mb-8">
                <lable for="country" class="form-lable">country</lable>
                <input name="listing[country]" class="form-control"  value="<%= listing.country %>" type="text">
            </div>
        </div>
        <div class="mb-3">
            <lable for="location" class="form-lable">location</lable>
        <input name="listing[location]" class="form-control" value="<%= listing.location %>" type="text">
        </div>
        
        <button class="btn btn-dark add-btn mt-3">Edit</button>
    </form>
</div>
</div>